.baner-content {
    /*Without warning message:
    padding-top: 30vh;*/
    padding-top: 0vh;
}
.baner-content h1 {
    padding-top: 20vh;
    font-size: 90px;
}
.logos{
    width: 74%;
}

a{
    color: #75ffff;
}


element.style {
}
p {
    font-size: 15px;
    line-height: 25px;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
*, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}
/*user agent stylesheet*/
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p {
    font-size: 15px;
    line-height: 25px;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
*, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.alert-light {
    background-color: #ff7d27db;
    color: #000000;
    
}
.alert-light p{
    font-size: 22px;
}



.surgetes p {
    background-color: #ff7d27;
    font-size: 24px;
    padding: 10px;
}

.service-item:hover{
    box-shadow: 0 0 2px;
    background-color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 767px){
    .baner-content{
        background-image: url(../img/1st-section_mobil.jpg);
    }

    .baner-content h1 {
        /*Without warning message:
        margin-top: 300px;*/
        margin-top: 100px;
        font-size: 40px;
        
    }
    
} 

@media (max-width: 900px){
    .fixed-side-navbar{
        visibility: hidden;
    }
} 

/*Robi  update*/
.service-content {
    padding-top: 5vh;
    background-color: #c7e5fc;
    background-image: none;
    padding-bottom: 5vh;
}

.service-content .left-text h4 {
    color: #000;
}

.service-content .left-text p {
    color: #000;
}

.service-content .left-text ul li {
    color: #000;
}

.service-content a {
    color: #1E90FF;
}

.service-content a:hover {
    color: #0000FF;
}

.projects-content {
    padding-top: 5vh;
    background-color: #a8d0f0;
    background-image: none;
    min-height: 10vh;
    padding-bottom: 5vh;
}

.tabs-content {
    padding-top: 5vh;
    background-color: #86bae3;
    background-image: none;
    min-height: 10vh;
    padding-bottom: 5vh;
}

.primary-button a {
    font-size: 20px;
}

.alcim {
    text-align: center; 
    font-weight: 500;
    font-size: 32px; 
    color: #fff;
}